[submodule "resources/open-iconic"]
	path = submodules/open-iconic
	url = https://github.com/iconic/open-iconic.git
[submodule "resources/bookletify"]
	path = submodules/bookletify
	url = https://gitlab.com/wieke/bookletify.git
[submodule "submodules/atkinson-hyperlegible"]
	path = submodules/atkinson-hyperlegible
	url = https://github.com/googlefonts/atkinson-hyperlegible
